.description {
    margin-top: 250px;
}

.item-1 p {
    color: #000;
    padding-left: 100px;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}

.item-2 p {
    color: #000;
  font-size: 31px;
  font-weight: 700;
  line-height: 33px;
}

.marketing-about {
    margin-top: 200px;
    margin-bottom: 200px;
}