img {
  height: 87px;
  width: 122px;
}

NavbarToggler {
  color: #39f;
  background-color: #39f;
}

.btn-default {
  height: 62px;
  width: 216px;
  background-color: #39f;
}

.btn-default:hover {
  background-color: #39f;
}

.btn-default:active {
  background-color: #39f !important;
}

.nav-link {
  padding: 0;
  margin: 0;
  color: #39f;
}

.nav-text {
  color: #39f;
}
