.contentImage {
  height: 97px;
  width: 100px;
  margin: 20px 0;
}

.content-container {
  margin-top: 120px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentText {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.1px;
  line-height: 26px;
  margin: 20px 0px;
}

.content-text {
  color: #333;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.rejoice-text {
  margin-top: 200px;
  height: 327px;
  width: 515px;
  color: #000;
  font-family: Gotham;
  font-size: 35px;
  font-weight: 300;
  line-height: 43px;
}

.image-rejoicing {
  height: 358px;
  width: 558px;
}

.girl-dog {
  height: 516px;
  width: 391px;
  border-radius: 3px;
  margin-left: 170px;
}

.customer-text {
  color: #000;
  font-family: Gotham;
  font-size: 35px;
  font-weight: 300;
  line-height: 43px;
  margin-top: 100px;
}

@media only screen and (max-width: 767px) {
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contentText {
    color: #000;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.42px;
    line-height: 14px;
    text-align: center;
  }

  .content-text {
    width: 197px;
    color: #4f4f4f;
    font-family: Gotham;
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
  }

  .rejoice-text {
    width: 315px;
    color: #000;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin-top: 100px;
  }

  .image-rejoicing {
    height: 243px;
    width: 100%;
    padding-top: 0px;
  }
}
