.target {
    height: 102px;
    width: 102px;
    margin-bottom: 40px;
  }
  
.targetText1 {
    height: 120px;
    width: 230px;
    color: #333;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.9px;
    line-height: 36px;
  }
  
.targetText2 {
    height: 150px;
    width: 434px;
    color: #333;
    font-size: 23.5px;
    font-weight: 300;
    line-height: 32px;
}
  
.capa {
    height: 85.05px;
    width: 136.07px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
  .target {
    height: 70px;
    width: 70px;
    margin-top: 70px;
  }
  .capa {
    height: 70px;
    width: auto;
    margin-top: 70px;
  }
  .targetText1 {
    color: #333;
    font-family: Gotham;
    font-size: 12px;
    letter-spacing: -0.36px;
    line-height: 17px;
    height: 40px;
    width: auto;
  }
  .targetText2 {
    height: 84px;
    max-width: 260px;
    color: #333;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
  }
}